# Backend Configuration
NODE_ENV=development
PORT=3000
API_URL=http://localhost:3000

# Supabase Credentials
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:8080
